imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: es

framework:
    templating:
        engines: ['twig']
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes: ['bootstrap_4_horizontal_layout.html.twig']

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

vich_uploader:
    db_driver: orm

    mappings:
        usuarios_foto:
            uri_prefix: /subidas/fotos/usuarios
            upload_destination: '%kernel.project_dir%/web/subidas/fotos/usuarios'

ivory_ck_editor:
    input_sync: true
    default_config: base_config
    configs:
        base_config:
            toolbar: [ [ "Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo"], "/", [ "Bold", "Italic", "Strike", "RemoveFormat", "NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "JustifyLeft", "JustifyCenter", "JustifyRight"] ]

easy_admin:
    formats:
        date: 'd/m/Y'
    site_name: 'Antiguos Alumnos'
    design:
        menu:
            - { entity: 'Usuario', label: 'Usuarios', icon: 'user' }
            - { entity: 'Curriculum', label: 'Curriculums', icon: 'file-text' }
    entities:
        Usuario:
            class: AppBundle\Entity\Usuario
            list:
                title: 'Usuarios'
                sort: 'nombre'
                fields:
                    - { property: 'nif', label: 'NIF' }
                    - { property: 'nombre', label: 'Nombre' }
                    - { property: 'email', label: 'Email', type: 'email' }
                    - { property: 'movil', label: 'Movil', type: 'tel' }
                    - { property: 'enabled', label: 'Activo' }
                    - { property: 'esAlumno', label: 'Alumno' }
                actions:
                    - { name: 'edit', label: 'Modificar'}
                    - { name: 'delete', label: 'Borrar'}
            form:
                fields:
                    - { property: 'username', label: 'Usuario' }
                    - { property: 'email', type: 'email', label: 'Email' }
                    - { property: 'plainPassword', type: 'text', type_options: { required: true }, label: 'Contraseña' }
                    - { property: 'nif', label: 'NIF' }
                    - { property: 'nombre', label: 'Nombre' }
                    - { property: 'apellido1', label: '1º Apellido' }
                    - { property: 'apellido2', label: '2º Apellido' }
                    - { property: 'movil', label: 'Móvil' }
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'Usuario': 'ROLE_USER', 'Admin': 'ROLE_ADMIN' } } }
                    - { property: 'esAlumno', label: 'Alumno' }
                    - { property: 'enabled', label: 'Activar Cuenta' }
                    - { property: 'fichero', type: 'vich_image', label: 'Fotografía' }
            new:
                form_options: { validation_groups: ['Default'] }
            edit:
                form_options: { validation_groups: ['Default'] }
                fields:
                    - { property: 'plainPassword', type: 'text', type_options: { required: false }, label: 'Contraseña' }
        Curriculum:
            class: AppBundle\Entity\Curriculum
            list:
                title: 'Curriculums'
                fields:
                    - { property: 'direccion', label: 'Dirección' }
                    - { property: 'poblacion', label: 'Población' }
                    - { property: 'fechanacimiento', label: 'Fecha de Nacimiento', type: 'date' }
                    - { property: 'lenguajes', label: 'Lenguajes de programación' }
                    - { property: 'basesdedatos', label: 'Bases de datos' }
                actions:
                    - { name: 'edit', label: 'Modificar'}
                    - { name: 'delete', label: 'Borrar'}
            form:
                fields:
                    - { property: 'alumno', label: 'Alumno', type_options: { required: true } }
                    - { property: 'direccion', label: 'Dirección' }
                    - { property: 'poblacion', label: 'Población' }
                    - { property: 'provincia', label: 'Provincia', type_options: { required: true } }
                    - { property: 'fechanacimiento', label: 'Fecha de Nacimiento', type: 'date' }
                    - { property: 'experiencias', label: 'Experiencia Profesional', type: 'ckeditor' }
                    - { property: 'formaciones', label: 'Formación Académica', type: 'ckeditor' }
                    - { property: 'lenguajes', label: 'Lenguajes de Programación', type: 'ckeditor' }
                    - { property: 'sistemas', label: 'Sistemas Operativos', type: 'ckeditor' }
                    - { property: 'basesdedatos', label: 'Bases de Datos', type: 'ckeditor' }
                    - { property: 'programacionweb', label: 'Programación/Diseño Web', type: 'ckeditor' }
                    - { property: 'compcomunicativas', label: 'Competencias Comunicativas', type: 'ckeditor' }
                    - { property: 'comporganizativas', label: 'Competencias Organizativas', type: 'ckeditor' }
                    - { property: 'comppersonales', label: 'Competencias Personales', type: 'ckeditor' }
                    - { property: 'infoadicional', label: 'Información Adiccional', type: 'ckeditor' }
                    - { property: 'puntuacion', label: 'Puntuación' }
                    - { property: 'sexo', label: 'Sexo', type: 'choice', type_options: { expanded: true, choices: { 'Hombre': 'Hombre', 'Mujer': 'Mujer' } }  }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\Usuario
    from_email:
        address: "iessansebastian@mail.com"
        sender_name: "IES San Sebastián"

fos_ck_editor:
    configs:
        my_config:
            toolbar: [ [ "Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo"], "/", [ "Bold", "Italic", "Strike", "RemoveFormat", "NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "JustifyLeft", "JustifyCenter", "JustifyRight"] ]
            uiColor: "#ffffff"
            language: es