{% extends 'base.html.twig' %}

{% block title %}Obtener PDF{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: {novalidate: 'novalidate'}}) }}
            {{ form_row(form.pdfde) }}
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <small id="emailHelp" class="form-text text-muted">Escriba la puntuación de los alumnos de los que quiera obtener el PDF, en blanco para obtener todos.</small>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}