.nombre{
    font-size: 1.3em;
}
.titulos{
    font-weight: bold;
}

.foto-perfil{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #05000b 2px solid;
}

.perfil{
    background-color: #fcfaf7;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
    box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
}

.ext-box{
    display: table;
    width: 40%;
    margin-left: 50px;
}

.int-box{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.mensajebox{
    border: 1px solid #007bff;
    border-radius: 5px;
    height: 350px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.mensajebox:hover{
    background-color: #007bff;
    color: white;
    box-shadow: 0px 0px 16px 1px rgba(28,28,28,1);
}

.pdfbox{
    border: 1px solid #dc3545;
    border-radius: 5px;
    height: 350px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.pdfbox:hover{
    background-color: #dc3545;
    color: white;
    box-shadow: 0px 0px 16px 1px rgba(28,28,28,1);
}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}