.nombre{
    font-size: 1.3em;
}
.titulos{
    font-weight: bold;
}

.foto-perfil{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #05000b 2px solid;
}

.perfil{
    background-color: #fcfaf7;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
    box-shadow: 0px 0px 3px 1px rgba(179,179,179,1);
}