.nombre{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 0px;
}
.titulo{
    font-family: lemon, serif;
    border-bottom: 1px solid #9a56d2;
    margin-top: 30px;
}
.titulo-tabla{
    text-align: right;
    font-family: lemon, serif;
    font-size: 20px;
    font-weight: bold;
    border-right: 5px solid #745cd8;
    vertical-align: top;
    padding-right: 10px;
}