{% extends 'base.html.twig' %}

{% block title %}Editar Curriculum{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: {novalidate: 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}